@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/museoSansCyr/MuseoSansCyrl-300.eot");
  src: url("../fonts/museoSansCyr/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/museoSansCyr/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/museoSansCyr/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/museoSansCyr/MuseoSansCyrl-700.eot");
  src: url("../fonts/museoSansCyr/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/museoSansCyr/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/museoSansCyr/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}
body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 100px 0 150px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
  .
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}
.button:hover {
  background-color: #ffdb33;
}
.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.navbar__address {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif; 
  font-weight: 700;
  cursor: pointer;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    width: 137px;
    height: 39px;
    border-radius: 5px;
    padding: 15px 20px 14px 20px;
}
  .navbar__logo {
    width: 90px;
  }
  .navbar-contacts {
    display: none;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 40px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.hero-list__item:last-child {
  margin-bottom: 0;
}
.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
  height: 37px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

.offer {
  background: url("../img/hero/offen-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}
.offer__form{
  padding-right: 90px;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.offer-block {
  width: 50%;
  margin-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  height: 65px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  cursor: pointer;
}
.communication{
  width: 98%;
  margin-top: 18px;
  margin-left: 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
}
.communication srong {
  font-weight: 700;
}
.portfolio {
  background: #f5f5f5 url(../portfolio-img/portfolio-pattern.png) repeat-y center left;
  background-size: 50%;
}
.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}
.slider__image {
  margin-right: auto;
  margin-left: auto;
  
}
.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
 
}
.arrows__left ,.arrows__right {
  cursor: pointer;
}
.price__title {
  margin: auto;
  margin-bottom: 58px;
}
.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}
.price__card {
  margin-bottom: 30px;
}
.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  transition: 0.2s;
}
.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}
.card__text {
  padding: 40px;
}
.card__image:hover::before {
  opacity: 1;
}
.card__image {
  display: block;
  position: relative;
}
.card__preview {
  display: block;
}
.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  text-replace: 0.2s;
}
.card__title {
  margin-top: 0;
}
.card__link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif; 
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  position: relative;
}
.card__link:hover::after{
  height: 12px;
}
.card__link::after {
  display: block;
  position: absolute;
  bottom: -4px;
  z-index: -1;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  transition: 0.2s;
  background-color: #ffd200;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.steps-block {
  display: flex;
}
.step {
  flex-basis: 20%;
  text-align: center;
  position: relative;
}
.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url(../img/step/arrow.png) no-repeat center;
  top: -10px;
  right: -15%;
}
.step:last-child::after{
  display: none;
}
.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%; 
}
.step__text {
  font-size: 14px;
  margin: auto;
  max-width: 160px;
}
.steps__title {
  margin: auto;
  margin-bottom: 59px;
}
.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
}
.brif {
  background-image: url(../img/brif/brif-color-bg.jpg),  url(../img/brif/brif-bg.jpg);
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat:repeat-y, no-repeat;
}
.brif-block {
  display: flex;
}
.brif__interview {
  flex-basis: 50%;
}
.brif__form {
  flex-basis: 50%;
}
.interview {
  padding-right: 70px;
}
.interview__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif; 
  font-weight: 700;
}
.interview__subtitle {
display: block;
margin-bottom: 95px;
font-size: 16px;
}
.interview-list {
  list-style: none;
  padding: 0;
}
.interview-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%
}
.interview-list__text {
  max-width: 400px;
}
.btn_up{
  right: 50px;
  margin: 0;
  font-size: 90px;
  position: fixed;
  bottom: 50px;
  outline:none;
  width: 70px;
  height: 30px;
  color:#ffd200;
  line-height: 30px;
  text-decoration: none;
  padding: 0px 0 0 28px;
  cursor:pointer;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .step {
    margin-bottom: 30px;
  }
  .steps:after {
    display: none;
  }
  .steps-block {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer__title {
    width: 260px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }

  .offer__subtitle {
    font-size: 14px;
    font-weight: 400;
  }
  .offer-block {
    width:  275px;
    padding-right: 0;
  }
  .offer__button {
    height: 70px;
  }
  .offer__form {
    padding: 0;
    text-align: center;
  }
  .step {
    margin-bottom: 30px;
    flex-basis: 50%;
  }
  .steps-block {
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */